# Dependencies
node_modules/
.pnp
.pnp.js

# Production
build/
.docusaurus/

# Misc
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/

# Cache
.cache/
imageCache.json
